body {
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  border-radius: 10px;
}

button {
  color: gainsboro;
}

button:hover {
  color: gray;
}


/* trashed as of right now
.container {
  position: relative;
  width: 50%;
  overflow: visible;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 80%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  overflow: visible;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/