@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@500&display=swap');

div {
  text-align: center;
}

body {
  background-color: white;
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
}

input {
  border-radius: 10px;
}

button {
  color: gainsboro;
  opacity: 0.7;
  border-radius: 7.5px;
  transition: 0.5s;
}

button:hover {
  color: gray;
  opacity: 1;
  // box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.user {
  border: 3px solid #85aeed;
  border-radius: 15px;
  width: 30%;
  margin: auto;
  opacity: 0.9;
  transition: 0.7s;
  color: #333
}

.user:hover {
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  opacity: 1;
}

input, button {
  border: 1px solid #85aeed;
  border-radius: 10px;
  padding: 10px;
  background: none;
  outline: none;
}

#navbar {
  margin: auto;
  overflow: hidden;
  background-color: #85aeed;
  color: #333;
  border-radius: 15px;
  width: 15%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 14px;
  opacity: 0.7;
  transition: 0.75s;
}


#navbar:hover {
  opacity: 1;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.footer {
  bottom: 0;
}

/* trashed as of right now
.container {
  position: relative;
  width: 50%;
  overflow: visible;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 80%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  overflow: visible;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/