{% extends "base.html" %} {% block head %}
<meta http-equiv="refresh" />
<style>
  img {
    border-radius: 50%;
    vertical-align: middle;
  }
</style>
{% endblock %} {% block content %}

<script>
  window.onload = function () {
    if (!window.location.hash) {
      window.location = window.location + "#loaded";
      window.location.reload();
    }
  };
</script>

<a style="color: black" href="{{ userurl }}">
  <div class="user">
    <img src='{{avatar}}' class="banner" width="100" height="100" />
    <h2 style="display: inline-block">{{ usernick }}</h2>
    <h4 style="margin: 0">@{{ username }}</h4>
    <p>{{ bio }}</p> <!-- color: #545a63 -->
  </div>
</a>

<a style="text-align: left; color: black" href="{{ url_for('index') }}"
  >️️️ ⬅️ ️B️a️c️k️️ ️</a
>️ {% endblock %}
